@media screen and (max-width: 678px) {
  .table {
    width: 100% !important;
    border-radius: 5px !important;
    overflow: hidden !important;
    border: solid 10px !important;
    background: transparent !important;
  }
  .table-image-container {
    margin: 0 auto;
    max-width: 50px;
    width: 100%;
    max-height: 50px;
    height: 100%;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover !important;
    object-position: 0px 95px !important;
    overflow: clip;
  }
  .table-image-container img {
    margin: 0 auto;
    width: 100% !important;
    height: 100% !important;
  }
  .key-tag-container {
    zoom: 1;
  }
  .search-width {
    width: 100%;
  }
  tr {
    margin: 10px auto;
    width: 95% !important;
    border-radius: 20px !important;
    overflow: hidden !important;
  }
  thead {
    display: none;
    width: 100%;
  }
  tr {
    display: block;
    border: solid 1px #555;
    border-radius: 5px;
    border: 1px dashed #444444:
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
  }
  td {
    display: block;
    min-width: 100%;
    width: 100%;
    text-align: center !important;
  }
  td div {
    justify-content: center;
    text-align: center !important;
  }
  .input-group {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 100%;
  }
  td div input {
    width: 100% !important;
    display: flex;
    justify-content: center;
    text-align: center !important;
    max-width: 300px;
  }
}